<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="/">
    <link href='http://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>
<body>
<script>
    window.fbAsyncInit = function() {
        FB.init({
            appId      : '1631797807081967',
            xfbml      : true,
            version    : 'v2.5'
        });
    };

    (function(d, s, id){


        var js, fjs = d.getElementsByTagName(s)[0];
        //js.src = "//connect.facebook.net/en_US/sdk/debug.js";

        if (d.getElementById(id)) {return;}
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">

        <div class="navbar-header col-md-4">
            <a href="https://bitbucket.org/monarchllc/spades/issues" class="navbar-brand">Did you find a bug
                <i class="fa fa-question"></i>
            </a>
        </div>

        <div class="navbar-header col-md-4" >
            <img src="MONARCH-WEBSITE-LOGO-V3.png"/>
        </div>
        <div class="navbar-right-container">
            <login-buttons></login-buttons>

        </div>
    </div>
</nav>

<div class="h100">
    <div ui-view class="ma-main-container container-fluid h100"></div>
</div>

</body>