<div class="list-group">
    <a data-toggle="modal" data-target="#law-fulldescription-{{law.id}}" class="list-group-item active">
        <h4 class="list-group-item-heading">Title{{law.title}}</h4>
        <p class="list-group-item-text">Summary{{law.summary}}</p>
    </a>
</div>

<!-- Modal -->
<div id="law-fulldescription-{{law.id}}" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">{{law.title}}</h4>
            </div>
            <div class="modal-body">
                <p>{{law.detail}}</p>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-4">
                        <a ng-href="{{law.credit.link}}">{{law.credit.text}}</a>
                    </div>
                </div>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>


