<div class="container-fluid ma-add-new-party-container">
    <div class="alert alert-info" ng-hide="$root.currentUser || $root.loggingIn">
        Please log in to create a party!
    </div>

    <form ng-show="$root.currentUser || $root.loggingIn">
        <h2>Create a new party</h2>

        <div class="form-group">
            <label for="nameInput">Name</label>
            <input ng-model="newParty.name" id="nameInput" type="text" class="form-control">
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <input ng-model="newParty.description" id="description" type="text" class="form-control">
        </div>
        <div class="form-group">
            <label for="public">
                <input type="checkbox" ng-model="newParty.public" id="public"> Public
            </label>
        </div>
        <button ng-click="addNewParty()" class="btn">Add</button>
    </form>
</div>