<!-- Hand Bidding -->
<form ng-submit="finalize(team1,team2)" name="currentGameBidsForm" novalidate>
    <div class="scoreboard row">
        <div class="row text-center">
            Time to Bid Guys!
        </div>
        <div class="team-1-scores-container col-md-6 col-sm-4 col-sm-push-1 col-xs-4 col-xs-push-1">
            <div class="row text-center">
                <current-game team-bid="team1.currentBid" team-name="team1.name"
                              is-score-finalized="team1.isScoreFinalized" placeholder-text="'Enter Bid'"
                              current-game-bids-form="currentGameBidsForm"
                               validate-current-game></current-game>
            </div>
        </div>
        <div class="team-2-scores-container col-md-6 col-md-push-0 col-sm-4 col-sm-push-3 col-xs-4 col-xs-push-3">
            <div class="row text-center">
                <current-game team-bid="team2.currentBid" team-name="team2.name"
                              is-score-finalized="team2.isScoreFinalized"
                              current-game-bids-form="currentGameBidsForm" validate-current-game placeholder-text="'Enter Bid'"></current-game>
            </div>
        </div>
    </div>

    <div class="scoreboard row" ng-if="!team2.isScoreFinalized && !team1.isScoreFinalized">
        <div class="col-md-12 text-center">
            <button class="btn btn-success" ng-disabled="currentGameBidsForm.$invalid" type="submit">Finalize Bids
            </button>
        </div>
    </div>
</form>

<!-- Hand Results -->
<form ng-if="team2.isScoreFinalized && team1.isScoreFinalized" name="BooksWonForm"
      ng-submit="submitGameScore(team1Score.value, team2Score.value)" novalidate>
    <!--game results entry form-->
    <div class="scoreboard row">
        <div class="row text-center">
            When the Hand is over...
        </div>
        <!--<game-complete ng-if="team2.isScoreFinalized && team1.isScoreFinalized" team-one="team1" team-two="team2"></game-complete>-->
        <div class="team-1-results-container col-md-6 col-sm-4 col-sm-push-1 col-xs-4 col-xs-push-1">
            <div class="row text-center">How many books did you get<br>{{team1.name}}?</div>

            <!--team1 current hand bid entry-->
            <div class="row text-center">
                <current-game team-bid="team1Score.value" team-name="team1.name"
                              is-score-finalized="team1Score.isScoreFinalized"
                              current-game-bids-form="BooksWonForm"
                              placeholder-text="'Enter Score'" validate-hand-score></current-game>
            </div>
        </div>
        <div class="team-2-results-container col-md-6 col-md-push-0 col-sm-4 col-sm-push-3 col-xs-4 col-xs-push-3">
            <div class="row text-center">How many books did you get<br>{{team2.name}}?</div>

            <!--team1 current hand bid entry-->
            <div class="row text-center">
                <current-game team-bid="team2Score.value" team-name="team2.name"
                              is-score-finalized="team2Score.isScoreFinalized"
                              current-game-bids-form="BooksWonForm"
                              placeholder-text="'Enter Score'" validate-hand-score ></current-game>
            </div>
        </div>
    </div>
    <div class="row text-center">
        <button type="submit" class="btn btn-success"
                ng-disabled="team1Score.value === undefined || team2Score.value=== undefined">Submit Game Score
        </button>
    </div>
</form>

<!--TODO: Scoreboard below should probably be a directive-->

<div class="scoreboard row text-center">
    <hr>
    SCOREBOARD
    <hr>
    </div>


<!-- Team Names -->
<div class="scoreboard row">
    <div class="team-1-scores-container col-md-6 col-sm-4 col-sm-push-1 col-xs-4 col-xs-push-1">
        <div class="team-1-title row text-center">{{team1.name}}
            <hr>
        </div>
    </div>
    <div class="team-2-scores-container col-md-6 col-md-push-0 col-sm-4 col-sm-push-3 col-xs-4 col-xs-push-3">
        <div class="team-2-title row text-center">{{team2.name}}
            <hr>
        </div>
    </div>
</div>

<!-- Game Score History -->
<div class="scoreboard row">
    <div class="team-1-scores-container col-md-6 col-sm-4 col-sm-push-1 col-xs-4 col-xs-push-1">
        <div class="row text-center" ng-repeat="score in team1.calculatedScores track by $index">
            <div class="col-md-12">{{score}}</div>
            <div ng-if="$index > 0" class="col-md-12 total-row">
                <hr>
                {{team1.runningTotals[$index - 1]}}
            </div>
        </div>
    </div>
    <div class="team-2-scores-container col-md-6 col-md-push-0 col-sm-4 col-sm-push-3 col-xs-4 col-xs-push-3">
        <div class="row text-center" ng-repeat="score in team2.calculatedScores track by $index">
            <div class="col-md-12">{{score}}</div>
            <div ng-if="$index > 0" class="col-md-12 total-row">
                <hr>
                {{team2.runningTotals[$index - 1]}}
            </div>
        </div>

    </div>
</div>

<!-- ZERO row -->
<div class="scoreboard row" ng-if="team1.calculatedScores.length === 0 || team2.calculatedScores.length === 0">
    <div class="team-1-scores-container col-md-6 col-sm-4 col-sm-push-1 col-xs-4 col-xs-push-1">
        <div class="row text-center">
            <div class="col-md-12">0</div>
        </div>
    </div>
    <div class="team-2-scores-container col-md-6 col-md-push-0 col-sm-4 col-sm-push-3 col-xs-4 col-xs-push-3">
        <div class="row text-center" >
            <div class="col-md-12">0</div>
        </div>

    </div>
</div>



