<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-push-2 rights-machine">
            <div class="row text-center law-container">
                <accordion close-others="oneAtATime">
                    <accordion-group heading="Instructions">
                        Don't get caught being #FFFFFF
                    </accordion-group>
                    <accordion-group heading="{{$index + law.catch_line}}" ng-repeat="law in laws">
                        <p>{{law.text}}</p>
                        <!--<a ng-href="{{law.credit.link}}">{{law.credit.text}}</a>-->
                    </accordion-group>

                </accordion>
            </div>
        </div>
    </div>
</div>
