<div class="input-group text-center col-md-3 col-md-push-4" ng-if="!isScoreFinalized" ng-class="{ 'has-error': currentGameBidsForm[teamName + '-bidInput'].$touched && currentGameBidsForm[teamName + '-bidInput'].$invalid }">
    <span class="input-group-addon btn btn-danger" decrease-bid><i class="fa fa-minus"></i></span>
    <input name="{{teamName + '-bidInput'}}" type="text" class="form-control text-center books-input" aria-label="Number of Books" ng-model="padding.teamBid" placeholder="{{placeholderText}}" ng-blur="lockTeamBid(padding.teamBid)" required ng-minlength="1" ng-maxlength="2" validate-bid>
    <span class="input-group-addon btn btn-success" increase-bid><i class="fa fa-plus"></i></span>
</div>
<!--Error Messages-->

<div ng-messages="currentGameBidsForm[teamName + '-bidInput'].$error" ng-if="currentGameBidsForm[teamName + '-bidInput'].$touched" ng-class="{ 'has-error': currentGameBidsForm[teamName + '-bidInput'].$touched && currentGameBidsForm[teamName + '-bidInput'].$invalid }">
    <p ng-message="required || bidValid">Please enter a valid number for team {{teamName}}</p>
    <p ng-message="integer">Cannot enter partial or decimal books for team {{teamName}}</p>
    <p ng-message="scoreValid">Please enter a valid number of books (0 - 13)</p>
</div>

<!-- bid is finalized -->
<div ng-if="isScoreFinalized" class="team-bid-locked">
    Bid Locked in @:&nbsp; {{padding.teamBid}}
</div>




