<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-push-4">
            <div class="menu-item" ng-repeat="item in menuItems">
                <span ng-if="item.state">
                    <a ui-sref="{{item.state}}" class="menu-item-title">{{item.title}}</a>
                    <span ng-if="item.author" class="menu-item-author"> - {{item.author}}</span>
                    <div ng-if="item.description" class="menu-item-description">{{item.description}}</div>
                </span>




                <span ng-if="item.link">
                    <a ng-href="{{item.link}}" class="menu-item-title">{{item.title}}</a>
                    <span ng-if="item.author" class="menu-item-author"> - {{item.author}}</span>
                    <div ng-if="item.description" class="menu-item-description">{{item.description}}</div>
                </span>
            </div>
        </div>
    </div>
</div>