// Override Bootstrap navbar
.navbar {
  background-color: #ffffff;
  border-bottom: #eee 1px solid;
  color: @color3;
  font-family: 'Muli', sans-serif;
    a {
      color: @color3;
      text-decoration: none !important;
    }
  
    .navbar-right-container {
      position: absolute;
      top: 17px;
      right: 17px;
    }
}

// Overrise Meteor Login Buttons
#login-dropdown-list.accounts-dialog {
  right: 14px;
  left: auto;
}

#login-buttons .login-button,
.accounts-dialog .login-button {
  background: @color3;
  color: white;
  border: none;
  
    &:hover {
      background: @color3;
      color: white;
    }
} 
