.ma-add-new-party-container {
  padding: 20px;
    > form {
        > h2 {
          font-siz: 15px;
          margin-bottom: 20px;
        }
        button {
          background: @color3;
          color: @color5;
        }
    }
  
    .alert.alert-info {
      background: @color3;
      color: @color5;
      margin-bottom: 0;
    }
} 
